* {
	margin: 0;
	padding: 0;
}

html, body{
	width:100%;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	background: #eee;
	overflow-x: hidden;
	overflow-y: scroll;
}

.header{
    display:block;
}

.ui {
    top: 10%;
    position: absolute;
    left: 20%;
    width: 60%;
}

.ui h1{
}

ul {
    list-style-type: none
}

.room-list > li{
    display: block;
    background-color: #ddd;
    padding: 15px;
    box-shadow: inset 0 1px 0 #fff;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
}

.overlay {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.6;
	z-index: 3;
}

.overlay .loading {
	font-size: 1.5em;
	font-weight: bold;
	position: absolute;
	min-width: 50px;
	height: 50px;
	top: 45%;
	left: 45%;
	color: #FFF;
	z-index: 3;
}

#b_new {
	/*position: absolute;*/
	/*top: 5px;*/
	/*left: 5px;*/
	/*z-index: 2;*/
}

#p_toggle_form{
    position:relative;
    display:inline-flex;
}

#p_toggle_form label:hover{
	cursor: pointer;
}

#p_toggle_form label{
	cursor: pointer;
    margin-right:0;
    margin-left:0;
    margin-bottom:10px;
    padding:10px 3px;
	border-radius: 4px;
    width:50px;
	border: solid 1px #20538D;
}

#p_toggle_form input[type=text]{
    display:block;
	border-radius: 4px;
	border: solid 1px #20538D;
    padding: 12px;
    margin-left: 50px;
    height: 100%;
    right: 10px;
}

label[for=b_private]{
	/*position: absolute;*/
    /*top: 5px;*/
    /*left: 20px;*/
	/*z-index: 2;*/
}

label[for=b_public]{
	/*position: absolute;*/
    /*top: 5px;*/
	/*left: 30px;*/
	/*z-index: 2;*/
}
.no-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.button {
	padding: 10px 5px;
	background: #4479BA;
	border-radius: 4px;
	border: solid 1px #20538D;
	color: #FFF;
	font-weight: bold;
    margin-bottom: 10px;
    display:inline-block;
    position: relative;
}

a {
	text-decoration: none;
}

a:hover{
	cursor: pointer;
}

